<h2>Sign up</h2>

<%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary my-3' do %>
    <i class="fab fa-google"></i> &nbsp;&nbsp; Sign up with Google
<% end %>

<h3>-- OR --</h3>

<%= render 'shared/signup_form' %>

<br>
<%= render "devise/shared/links" %>
