<% content_for :title do %>
    Sign up for free at NimbleHQ
<% end %>

<div class="font-weight-bold text-center f-md">Get Started For Free</div>

<%= render 'shared/signup_form' %>

<br>
<%= render "devise/shared/links" %>
