<% content_for :title do %>
    Sign up for free at NimbleHQ
<% end %>

<div class="font-weight-bold text-center f-md">Get Started For Free</div>

<%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block my-3' do %>
    <i class="fab fa-google"></i> &nbsp;&nbsp; Sign up with Google
<% end %>

<h5 class="text-center">or</h5>

<%= render 'shared/signup_form' %>

<br>
<%= render "devise/shared/links" %>
