<footer>

  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-3 mt-5">
        <h5>Site Information</h5>
        <%= link_to 'Privacy', privacy_path %>
        <br>
        <%= link_to 'Terms and Conditions', terms_path %>
        </ul>
      </div>

      <!--<div class="col-sm-12 col-md-3 mt-5">-->
      <!--<h5>Column 2</h5>-->
      <!--</div>-->

      <!--<div class="col-sm-12 col-md-3 mt-5">-->
      <!--<h5>Column 3</h5>-->
      <!--</div>-->

      <!--<div class="col-sm-12 col-md-3 mt-5">-->
      <!--<h5>Column 4</h5>-->
      <!--</div>-->

    </div>
  </div>

</footer>