<div class="jumbotron jumbotron-fluid text-center home-jumbo d-flex align-items-center">
  <div class="container">
    <h1 class="display-4">NimbleHQ</h1>
    <h3>Learn to build your first app!</h3>
  </div>
</div>
