<% content_for :title do %>
    Learn to code and launch a new career with Nimble Labs
<% end %>

<div id="typed-strings">
  <p>You can... learn to code</p>
  <p>You can... build your own product</p>
  <p>You can... launch a new career!</p>
</div>

<div class="container-fluid svg-background" style="background-image: url('/confetti-doodles.svg');">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-sm-12 col-md-8 text-center">
        <h1 class="display-4">Build Something Great!</h1>
        <h3>
          <span id="typed"></span>
        </h3>
      </div>

      <div class="col-sm-12 col-md-4">

        <div class="card p-3">

          <div class="font-weight-bold text-center f-md">Get Started For Free</div>

          <h5 class="text-center">or</h5>

          <%= render 'shared/signup_form' %>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid light-background section">
  <div class="container pt-5">

    <h1 class="text-center mb-5">Grow your greatest skill: Learning!</h1>

    <%# course = @courses.first %>

    <div class="row">

      <div class="col-sm-12 col-md-6 mb-5">


      </div>

      <div class="col-sm-12 col-md-6 mb-5">

      </div>

    </div>


  </div>
</div>

<script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 40,
        backDelay: 1200,
        backSpeed: 20,
        smartBackspace: true // Default value
    });
</script>