<div class="container my-5">
  <div class="alert alert-warning">
    Thank you for being part of the Nimble Labs community!
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card p-3">
        <p class="card-text">
          Name: <strong><%= current_user.full_name %></strong>
        </p>

        <p class="card-text">
          Email: <strong><%= current_user.email %></strong>
        </p>
      </div>
    </div>
  </div>
</div>


