.chat {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 2147483647;
}

.chat-button {
  width: 60px;
  height: 60px;
  background-color: #007dff;
  color: #ffffff;
}

.chat-popup {
  height: calc(100% - 20px - 80px - 20px);
  bottom: calc(20px + 80px);
  z-index: 2147483000 !important;
  position: fixed !important;
  right: 20px;
  width: 376px !important;
  min-height: 250px !important;
  max-height: 704px !important;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  border-radius: 8px !important;
  background-color: #ffffff;
  color: #333333;
  /*overflow: hidden !important;*/
  /*opacity: 1 !important;*/
}

.start-conversation {
  right: calc(20px + 80px);
  bottom: 20px;
  z-index: 2147483000 !important;
  position: fixed !important;
  width: 275px !important;
  //min-height: 100px !important;
  -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  border-radius: 8px !important;
  background-color: #ffffff;
  color: #333333;
  /*overflow: hidden !important;*/
  /*opacity: 1 !important;*/
}

.popover {
  top: auto !important;
  left: auto !important;
}