<div class="container text-center plan-container my-5">
  <div class="auth-description">
    <h1 class="pricing-card-title">NimbleHQ Lifetime Pro</h1>
    <h5 class="mt-2 pricing-label">$199 one time</h5>
  </div>

  <div class="row justify-content-center align-items-center p-1">
    <div class="col-12 col-md-6">
      <div class="card shadow-lg p-5">
        <%= render 'plans/credit_card_form' %>
      </div>
    </div>
  </div>
</div>
