<p id="notice"><%= notice %></p>


<div class="container mt-5">

  <h1><%= @course.title %></h1>

  <p>
    <%= @course.description %>
  </p>

  <%= link_to 'Return to Course Listing', courses_path %>

</div>
